/* Tipografias */

@import url("sf-pro-display.css");

/* Cores */

:root {
    --bg: #020916; /* Background */
    --azul-claro: #bbe1fa; /* Subtítulos & Highlights */
	--verde: #84e296; /* Títulos & Highlights */
	--laranja: #d49c03; /* Botões, Âncoras ativas & Logótipo */
	--azul-escuro: #182131; /* Background Navbar / Footer */
	--cinza1: #1d232e; /* Inputs */
	--cinza-claro: #AFB3B7; /* Texto Inputs */
	--azul-escuro2: #151F2E; /* Contraste background */
	--cinza2: #5B6371; /* Texto contraste background */
	--cinza3: #2b3342; /* Contraste do contraste do background */
	--vermelho: #ec5252; /* Textos negativos */
}

/* Geral */

* {
    font-family: 'SF Pro Display', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI";
    font-weight: normal;
}

.backgroundBlur{
    backdrop-filter: blur(10px);
}

.orange-btn {
    background-color: orange;
    border: none;
    color: #1D232E;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
}
.green-btn {
    background-color: var(--verde);
    border: none;
    color: #1D232E;
    padding: 5px;
    padding: 5px 30px;
    font-weight: bold;
}
.red-btn {
    background-color: var(--vermelho);
    border: none;
    color: #ffffff;
    padding: 5px 30px;
    border-radius: 5px;
    font-weight: bold;
}
.bg-inputs,
.bg-inputs:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #1D232E;
    color: white;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}