/* Tipografias */

@import url("sf-pro-display.css");

/* Cores */

:root {
    --bg: #020916;
    /* Background */
    --azul-claro: #bbe1fa;
    /* Subtítulos & Highlights */
    --verde: #84e296;
    /* Títulos & Highlights */
    --laranja: #d49c03;
    /* Botões, Âncoras ativas & Logótipo */
    --azul-escuro: #182131;
    /* Background Navbar / Footer */
    --cinza1: #1d232e;
    /* Inputs */
    --cinza-claro: #AFB3B7;
    /* Texto Inputs */
    --azul-escuro2: #151F2E;
    /* Contraste background */
    --cinza2: #5B6371;
    /* Texto contraste background */
    --cinza3: #2b3342;
    /* Contraste do contraste do background */
    --vermelho: #ec5252;
    /* Textos negativos */
}

/* Geral */

* {
    font-family: 'SF Pro Display', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI";
    font-weight: normal;
}

.backgroundBlur{
    backdrop-filter: blur(10px);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tile-custom {
    width: 100%;
}

.tile__media-custom {
    width: 100%;
    height: 300px;
}

.tile__media-custom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

/* Botões */

.orange-btn,
form button.orange-btn {
    background-color: orange;
    border: none;
    color: #1D232E;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
}

.blur-btn {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
}

.green-btn {
    background-color: var(--verde);
    border: none;
    color: #1D232E;
    padding: 5px;
    padding: 5px 30px;
    font-weight: bold;
}

.red-btn,
form button.red-btn {
    background-color: var(--vermelho);
    border: none;
    color: #ffffff;
    padding: 5px 30px;
    border-radius: 5px;
    font-weight: bold;
}

.rounded-btn {
    padding: 10px;
    background-color: var(--cinza3);
    width: 100%;
    max-width: 150px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    border: none;
}

.gray-btn {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    background-color: var(--cinza-claro);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: var(--bg);
    border: none;
}

.edit-btn {
    color: var(--cinza-claro);
    background-color: var(--cinza3);
    border: none;
    backdrop-filter: blur(10px);
    padding: 5px;
    min-width: 65px;
    width: 100px;
    border-radius: 5px;
    font-weight: 500;
    font-size: .9em;
}

.logout-btn {
    color: white;
    background-color: var(--vermelho);
    border: none;
    backdrop-filter: blur(10px);
    padding: 5px;
    min-width: 65px;
    width: 100px;
    border-radius: 5px;
    font-weight: 500;
    font-size: .8em;
}

.custom-logout-btn {
    color: white;
    background-color: var(--vermelho);
    border: none;
    backdrop-filter: blur(10px);
    padding: 5px;
    min-width: 65px;
    width: 100px;
    border-radius: 5px;
    font-weight: 500;
    font-size: .8em;
}

.close-btn {
    color: white;
    background-color: var(--vermelho);
    border: none;
    backdrop-filter: blur(10px);
    padding: 5px;
    min-width: 65px;
    width: 100px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
}

/* Inputs */

.bg-inputs,
.bg-inputs:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #1D232E;
    color: white;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Checkboxs */

.cbox {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type=checkbox] {
    visibility: hidden;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--cinza1);
    border-radius: 5px;
}

.cbox:hover input~.checkmark {
    background-color: var(--cinza1);
}

.cbox input:checked~.checkmark {
    background-color: var(--cinza1);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cbox input:checked~.checkmark:after {
    display: block;
}

.cbox .checkmark:after {
    left: 7px;
    bottom: 4px;
    width: 6px;
    height: 12px;
    border: solid var(--laranja);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Placeholders */

::placeholder {
    color: #AFB3B7 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #AFB3B7 !important;
}

::-ms-input-placeholder {
    color: #AFB3B7 !important;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent;
    width: 0px;
    height: 0;
}
      
.disable-scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Sweet alert */

.swal2-title {
    color: white !important;
}

.swal2-html-container {
    color: white !important;
}

.swal2-confirm {
    background-color: #84e296 !important;
    color: #182131 !important;
}

.swal2-cancel {
    background-color: #ec5252 !important;
}

.swal2-modal {
    background: #182131 !important;
}

.swal2-confirm,
.swal2-cancel,
.swal2-confirm:focus,
.swal2-cancel:focus,
.swal2-confirm:active,
.swal2-cancel:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

@media (max-width: 1199px) {
    .tile__media-custom {
        width: 100%;
        height: 320px;
    }
}

@media (max-width: 767px) {
    .tile__media-custom {
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 575px) {
    .tile__media-custom {
        width: 100%;
        min-height: 300px;
        height: 300px;
    }
}